:root{
  --bg: #051014;
  --primary-color: #14342B;
  --secondary-color: #FDE74C;
  --color-1: #CDDDDD;
  --color-2: #ACBDBA;
}

.hidden{
  display: none !important;
}

*{
  margin: 0;
  padding: 0;
}

.theme-dark{
  background-color: var(--bg);
  color: var(--color-2);
}

.title{
  grid-row: 2;
  text-align: center;
  font-size: 4rem;
  margin: 30px;
}

.form{
  display: grid;
  grid-template-rows: 1fr auto;
  justify-self: center;
  margin: 10px;
  grid-row: 3;
  text-align: center;
  padding: 30px;
  background-color: var(--primary-color);
  border-radius: 15px;
}

.form>h2{
  margin: 20px;
  margin-top: 0;
  font-size: 2rem;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form>input{
  border: none;
  padding: 10px;
  padding-left: 40px;
  font-size: 20px;
  border-radius: 10px;
}
form>input::placeholder{
  color: black;
}

form>select{
  background-color: var(--color-1);
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

form>button{
  background-color: var(--secondary-color);
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: var(--bg);
  font-weight: 500;
  cursor: pointer;
}

#username{
  background: url("assets/user.svg") no-repeat 8px center, var(--color-1);
  background-size: 20px;
}
#password{
  background: url("assets/lock.svg") no-repeat 8px center, var(--color-1);
  background-size: 20px;
}

.toggle-auth{
  background: none;
  border: solid 3px var(--bg);
  color: var(--color-2);
}